html,
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f2f2f2;
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.button {
  background-color: black;
  color: white;
  padding: 12px 24px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #333;
}

.signupButton {
  background-color: #0070f3; 
  color: white;
  padding: 12px 24px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signupButton:hover {
  background-color: #005bb5;
}


